<h1 [ngStyle]="{'margin': '0px', 'padding': '10px'}">Contact us</h1>
<div class="row" [ngStyle]="{'width': '100%', 'position': 'relative'}">
<mat-list [ngStyle]="{'width': '50%'}">
  <mat-divider></mat-divider>
  <h2 [ngStyle]="{'padding-left': '10px'}">Email</h2>
  <a href="mailto:esports@oswego.edu" [ngStyle]="{'padding-left': '10px'}">esports@oswego.edu</a>
  <mat-divider></mat-divider>
  <h2 [ngStyle]="{'padding-left': '10px'}">Address</h2>
  <p>131 Campus Center</p>
  <p>The Point</p>
  <p>Oswego, NY 13126</p>
  <p>United States</p>
  <mat-divider></mat-divider>
  <h2 [ngStyle]="{'padding-left': '10px'}">Phone</h2>
  <a href="tel:315-591-7196" [ngStyle]="{'padding-left': '10px'}">315-591-7196</a>
  <mat-divider></mat-divider>

  <mat-divider></mat-divider>
</mat-list>
<iframe src="https://discordapp.com/widget?id=277849428214153217&theme=dark" width="50%" allowtransparency="true" frameborder="0"></iframe>
</div>
<a mat-button href="https://discord.com/invite/FGEP9N5" target="_blank" [ngStyle]="{'background-color': '#7289da','height': '30px', 'left': '95%', 'z-index': '1', 'bottom': '30px'}">Join</a>
