<h1 [ngStyle]="{'margin-top': '0', 'padding': '10px'}">Oswego Esports Association</h1>
<h2>Who are we?</h2>
<p>
  The Oswego Esports Association began as a League of Legends club back in 2012/2013.
  After seeing lots of involvement and heavy interest, we decided to expand into an Esports Association to help
  gamers of all kinds meet people on campus and participate in fun events.
</p>
<div [ngStyle]="{'position': 'absolute', 'left': '75%'}">Pictures will go here, Or maybe the club officers will</div>
<h2>Games</h2>
<p>
  We primarily cover
</p>
  <ul>
  <li>Rainbow Six Siege</li>
  <li>League of Legends</li>
    <li>Rocket League</li>
    <li>Smash Ultimate</li>
</ul>
<p>And we are committed to expanding to other games that the community is interested in, so feel free to tell us about your favorite competitive games!</p>
