<div class="title" [ngStyle]="styleImageDiv('assets/img/oswego.jpg')">
  <h1>OSWEGO ESPORTS ASSOCIATION</h1>
</div>
<div class="divider">
  <h2 [ngStyle]="{'text-align': 'center'}">About us</h2>
</div>
<h3>Who are we?</h3>
<p [ngStyle]="{'text-align': 'center'}">
  The Oswego Esports Association began as a League of Legends club back in 2012/2013.
  After seeing lots of involvement and heavy interest, we decided to expand into an Esports Association to help
  gamers of all kinds meet people on campus and participate in fun events.
</p>
<h3>Games</h3>
<p>
  We primarily cover
</p>
<ul>
  <li>League of Legends</li>
  <li>Rainbow Six Siege</li>
  <li>Rocket League</li>
  <li>Smash Ultimate</li>
</ul>
<p>And we are committed to expanding to other games that the community is interested in, so feel free to tell us about
  your favorite competitive games!</p>
<div class="divider">

</div>
