
/* For use in src/lib/core/theming/_palette.scss */
$mat-green-dark: (
  50 : #e8f1e4,
  100 : #c5dbbc,
  200 : #9fc38f,
  300 : #79ab62,
  400 : #5c9941,
  500 : #3f871f,
  600 : #397f1b,
  700 : #317417,
  800 : #296a12,
  900 : #1b570a,
  A100 : #a0ff8b,
  A200 : #76ff58,
  A400 : #4cff25,
  A700 : #37ff0c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$mat-golden-yellow: (
  50 : #fdf8e6,
  100 : #fbedc2,
  200 : #f8e199,
  300 : #f5d470,
  400 : #f3cb51,
  500 : #f1c232,
  600 : #efbc2d,
  700 : #edb426,
  800 : #ebac1f,
  900 : #e79f13,
  A100 : #ffffff,
  A200 : #fff4e2,
  A400 : #ffe2af,
  A700 : #ffd896,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

